<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ese.dwg.drwng.service.mapper.HomeMapper">

	<select id="getDwgListXml" resultType="java.util.HashMap">
		SELECT *
		FROM EEAM_DRWNG_TBL
	</select>
	
	<select id="getDwgList_2" resultType="java.util.HashMap">
		SELECt * FROM EEAM_DRWNG_TBL
	</select>
	
</mapper>