@CHARSET "UTF-8";

.roundCorner{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	behavior: url(/sample/css/border-radius.htc);
	border-radius: 5px;
}

.roundCorner .widget_header{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	behavior: url(/sample/css/border-radius.htc);
	border-radius: 5px;
	background-color:#DDDDDD;
	width:100%;
	height:30px;
	/*border : 1px #000000 solid*/
}

.widget_container{
	width:100%;
	height:100%;
	border:1px dotted #333333;
	line-height:100%;
	text-align:center;
	vertical-align:middle;
}